#!/bin/bash
{{ LOCAL_DIEM_PATH }}/{{ BINARY_PATH }}/diem-node --config {{ DIEM_CONFIGURATION_PATH_AND_DOCKER_COMPOSE_PATH }}/{{ inventory_hostname }}/diem-node-{{ groups['node'].index(inventory_hostname) }}.yaml >> /node.log 2>&1 &
{% if hostvars[inventory_hostname]['provide_faucet'] is defined and hostvars[inventory_hostname]['provide_faucet'] | bool %}{{ LOCAL_DIEM_PATH }}/{{ BINARY_PATH }}/diem-faucet --address 0.0.0.0 --chain-id 4 --mint-key-file-path {{ DIEM_CONFIGURATION_PATH_AND_DOCKER_COMPOSE_PATH }}/{{ inventory_hostname }}/mint.key --port {{ FAUCET_START_PORT + groups['node'].index(inventory_hostname) }} --server-url http://{{ inventory_hostname }}:{{ JSON_RPC_START_PORT + groups['node'].index(inventory_hostname) }}/v1 >> /faucet.log 2>&1 &{% endif %}
