/logs/
/.idea/
/out/artifacts/BC_Test_jar/
/users/Organization1/
/target/
/wallet*
/witness-file
/src/main/java/fabric/chaincode/key_value/go/vendor/
/src/main/java/solana/contracts/contracts_compiled/
*.mod
*.bin
*.abi
*.sum
*.so