{
        "network-configs": {
                "network-1": {
                        "name": "network-1",
                        "profile": "./network-1.json"
                }
        },
        "license": "Apache-2.0"
}
